* {
  background-color: #11111b;
  color: #cdd6f4;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 12px;
}

#workspaces button {
  padding: 0 6px;
  min-width: 9px;
}

#workspaces button:hover {
    box-shadow: none;
}

tooltip {
  padding: 2px;
}

#cpu,
#memory,
#battery,
#pulseaudio,
#tray,
#custom-caffeine,
#custom-vpn,
#bluetooth,
#network,
#custom-expand-icon {
  min-width: 12px;
  padding: 0 6px;
}

#battery.warning:not(.charging) {
  color: #f9e2af;
}

#workspaces button.urgent label,
#battery.critical:not(.charging) {
  color: #f38ba8;
}

#network.disabled,
#network.off,
#custom-caffeine.off,
#custom-vpn.off,
#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted {
  color: #6c7086;
}
